In [6]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer # Importing CountVectorizer for converting text data into numerical vectors
from sklearn.metrics.pairwise import cosine_similarity # Importing cosine_similarity for calculating similarity between vectors

In [7]:
# Load the data
data = pd.read_csv("Coursera.csv")
data.head(5)

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [8]:
# Preprocess the data
data['tags'] = (data['Course Name'] + ' ' + data['Difficulty Level'] + ' ' +    # Combining multiple columns into a single 'tags' column
                data['Course Description'] + ' ' + data['Skills'] + ' ' +
                data['Course URL']).str.replace(',', ' ').str.lower()   # Replacing commas and converting text to lowercase
data.head(5)

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills,tags
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...,write a feature length screenplay for film or ...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...,business strategy: business model canvas analy...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...,silicon thin film solar cells advanced this co...
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...,finance for managers intermediate when it come...
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...,retrieve data using single-table sql queries b...

In [11]:
# Vectorize the tags
cv = CountVectorizer(max_features=5000, stop_words='english')  # Initializing CountVectorizer with maximum 5000 features and removing English stop words
vectors = cv.fit_transform(data['tags']).toarray()  # Converting 'tags' column into numerical vectors

# Calculate similarity matrix
similarity = cosine_similarity(vectors) # Calculating the cosine similarity between vectors

In [13]:
# Recommendation Function
def recommend(skills, num_recommendations=5):
    # Create a tag for user input skills
    user_tags = ' '.join(skills).lower()  # Combining user input skills into a single string and converting to lowercase
    
    # Calculate similarity with user input
    user_vector = cv.transform([user_tags]).toarray()  # Converting user input skills into a numerical vector
    user_similarity = cosine_similarity(user_vector, vectors).flatten()  # Calculating cosine similarity between user vector and course vectors
    
    # Get indices of courses with highest similarity
    top_indices = user_similarity.argsort()[::-1][:num_recommendations]  # Sorting indices based on similarity and selecting top indices
    
    # Print recommended courses
    for index in top_indices:
        course_name = data.iloc[index]['Course Name']  # Extracting course name using index
        course_url = data.iloc[index]['Course URL']  # Extracting course URL using index
        print(f"{course_name} - {course_url}")  # Printing recommended course name and URL

In [14]:
# Example usage
user_skills = input("Enter your skills (comma separated): ").split(',')
recommend(user_skills)

Introduction to Data Analytics for Business - https://www.coursera.org/learn/data-analytics-business
SQL for Data Science - https://www.coursera.org/learn/sql-for-data-science
SQL for Data Science Capstone Project - https://www.coursera.org/learn/sql-data-science-capstone
Advanced Business Analytics Capstone - https://www.coursera.org/learn/data-analytics-business-capstone
Introduction to Data Analytics - https://www.coursera.org/learn/introduction-to-data-analytics